.card {
  width: 18%;
  padding: 20px 1% 20px 1%;
  display: inline-block;
  float: left;
  background-color: #b5b5b7;
  color: #252839;
}

.card-button {
  background-color: #b5b5b7;
  color: #252839;
}

.header {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}

.more {
  text-decoration: none;
  float: right;
}

.footer {
  font-size: 15px;
}

.more:hover {
  color: #3CC47C;
}

p {
  text-align: center;
}

.inline {
  display: inline;
}

@media screen and (max-width: 667px) {
  .card {
    width: 90%;
    height: 175px;
    padding: 100px 5% 100px 5%;
  }
}

@media screen and (max-width: 568px) {
  .card {
    width: 90%;
    height: 200px;
    padding: 60px 5% 60px 5%;
  }
}

@media screen and (max-width: 375px) {
  .card {
    width: 90%;
    height: 243.5px;
    padding: 45px 5% 45px 5%;
  }
}

@media screen and (max-width: 320px) {
  .card {
    width: 90%;
    height: 244px;
    padding: 20px 5% 20px 5%;
  }
}
