.comment {
  .form {
    margin: 50px 500px 100px 500px;
  }

  .comment-input {
    width: 99.4%;
    font-size: 40px;
    text-align: center;
  }

  .comment-button {
    margin-top: 10px;
    margin-left: 5px;
    float: right;
    position: relative;
    width: 100px;
    height: 50px;
    border: 2px solid #0F1626;
    background-color: #0F1626;
    color: #9BDDBF;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    &:hover {
      color: white;
    }
  }

  @media only screen and (max-width: 375px) {
    .form {
      margin: 50px 25px 100px 25px;
    }

    .comment-input {
      font-size: 40px;
      text-align: center;
    }

    .comment-button {
      width: 80px;
      height: 40px;
      font-size: 15px;
    }
  }
}
