@import url(https://fonts.googleapis.com/css?family=Lemon);

.comment {
  margin: 50px 500px 0 500px;
}

.form {
  margin-bottom: 100px;
}

input {
  width: 99.4%;
  font-size: 30px;
}

button {
  margin-top: 10px;
  margin-left: 5px;
  float: right;
  position: relative;
  padding: 15px;
  border: 2px solid #0F1626;
  border-radius: 5px;
  background-color: #0F1626;
  color: #3CC47C;
  font-family: 'Lemon', cursive;
  &:hover {
    color: white;
  }
}

@media screen and (max-width: 375px) {
  .comment {
    margin: 25px 25px 0 25px;
  }

  input {
    width: 99%;
    font-size: 30px;
  }

  button {
    padding: 10px;
  }
}
