header {
  background:
    linear-gradient( rgba( 0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
    url('../../images/background-image.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: #9BDDBF;
}

nav {
  text-align: left;
  padding: 20px 500px;
}

.navlink-left {
  display: inline-block;
  padding: 0 10px 0 10px;
  color: #9BDDBF;
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
}

.navlink-right {
  display: inline-block;
  padding-right: 15px;
  color: #9BDDBF;
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
  float: right;
}

a:hover {
  color: white;
  text-decoration: none;
}

h1 {
  margin: 30px 0 0 0;
  text-align: center;
  font-size: 70px;
  font-style: italic;
}

.main {
  width: 40%;
  border: solid 10px;
  border-radius: 5px;
  display: inline-block;
  letter-spacing: 0.01em;
  padding: 0.01em 1em 0.01em 0.75em;
}

@media screen and (max-width: 667px) {
  header {
    background-color: #0F1626;
    height: 375px;
    color: #3CC47C;
  }

  nav {
    text-align: left;
    padding: 12px;
  }

  h1 {
    margin: 100px 0 0 0;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.1em;
  }

  .navlink-left {
    display: inline-block;
    padding: 0 15px 0 0px;
    text-transform: uppercase;
    font-size: 20px;
    color: #3CC47C;
  }

  .navlink-right {
    display: inline-block;
    padding: 3px 0px 0 0;
    font-size: 20px;
    color: #3CC47C;
    float: right;
  }
}

@media screen and (max-width: 568px) {
  header {
    background-color: #0F1626;
    height: 320px;
    color: #3CC47C;
  }

  nav {
    text-align: left;
    padding: 12px;
  }

  h1 {
    margin: 80px 0 0 0;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.1em;
  }

  .navlink-left {
    display: inline-block;
    padding: 0 15px 0 0px;
    text-transform: uppercase;
    font-size: 20px;
    color: #3CC47C;
  }

  .navlink-right {
    display: inline-block;
    padding: 3px 0px 0 0;
    font-size: 20px;
    color: #3CC47C;
    float: right;
  }
}

@media screen and (max-width: 375px) {
  header {
    background-color: #0F1626;
    height: 333.5px;
    color: #3CC47C;
  }

  nav {
    text-align: left;
    padding: 13px;
  }

  h1 {
    margin: 60px 0 0 0;
    width: 100%;
    text-align: center;
    font-size: 35px;
    letter-spacing: 0.1em;
  }

  .navlink-left {
    display: inline-block;
    padding: 0 7px 0 0;
    text-transform: uppercase;
    letter-spacing: 0em;
    font-size: 15px;
    color: #3CC47C;
  }

  .navlink-right {
    display: inline-block;
    padding: 1px 0 0 0;
    color: #3CC47C;
    font-size: 15px;
    float: right;
  }
}

@media screen and (max-width: 320px) {
  header {
    background-color: #0F1626;
    height: 284px;
    color: #3CC47C;
  }

  nav {
    text-align: left;
    padding: 12px;
  }

  h1 {
    margin: 50px 0 0 0;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1em;
  }

  .navlink-left {
    display: inline-block;
    padding: 0 5px 0 0px;
    text-transform: uppercase;
    font-size: 13px;
    color: #3CC47C;
  }

  .navlink-right {
    display: inline-block;
    padding: 3px 0px 0 0;
    font-size: 13px;
    color: #3CC47C;
    float: right;
  }
}
