.second-card {
  width: 18%;
  padding: 20px 1% 20px 1%;
  display: inline-block;
  float: left;
  background-color: #312c32;
  color: #3fb0ac;
}

.second-card-button {
  background-color: #312c32;
  color: #3fb0ac;
  position: relative;
  margin-top: 10px;
  margin-right: 15px;
  width: 100px;
  font-style: italic;
  font-weight: bold;
  height: 50px;
  border: 1px solid #3fb0ac;
  font-size: 13px;
}

.card-header {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}

.more {
  text-decoration: none;
  float: right;
}

.card-footer {
  font-size: 15px;
}

.more:hover {
  color: #3CC47C;
}

p {
  text-align: center;
}

.inline {
  display: inline;
}

@media screen and (max-width: 667px) {
  .second-card {
    height: 175px;
    width: 90%;
    padding: 100px 5% 100px 5%;
  }
}

@media screen and (max-width: 568px) {
  .second-card {
    width: 90%;
    height: 200px;
    padding: 60px 5% 60px 5%;
  }
}

@media screen and (max-width: 375px) {
  .second-card {
    width: 90%;
    height: 243.5px;
    padding: 45px 5% 45px 5%;
  }

  .second-card-button {
    background-color: #312c32;
    color: #3fb0ac;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
    font-style: italic;
    font-weight: bold;
    height: 50px;
    border: 1px solid #3fb0ac;
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  .second-card {
    width: 90%;
    height: 244px;
    padding: 20px 5% 20px 5%;
  }
}
