.registration {
  margin-left: 35px;

  .registration-label {
    display: block;
  }

  .registration-input {
    color: #9BDDBF;
    width: 90%;
    font-size: 30px;
    background-color: transparent;
    color: white;
    border-style: none;
    border-bottom: 2px solid #9BDDBF;
    margin-bottom: 20px;
    font-style: italic;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }

  @media only screen and (max-width: 375px) {
    .registration-input {
      box-sizing: border-box;
      width: 90%;
      font-size: 30px;
      background-color: transparent;
      color: white;
      border-style: none;
      border-bottom: 2px solid #9BDDBF;
      margin-bottom: 30px;
      &:focus {
        outline: none;
      }
    }
  }
}

.registration-has-error {
  color: red;
  .registration-input {
    border-color: red;
  }
}
