p {
  padding-top: 20px;
  text-align: center;
  margin: 0 150px 0 150px;
  font-size: 20px;
  color: #0F1626;
}

h1 {
  padding-top: 20px;
  text-align: center;
  margin: 0 150px 0 150px;
  font-size: 20px;
  color: #0F1626;
}
